.side-bar
  .header
    %h3.header__name
      = current_user.name
      ソウザ
    %ul.header__lists
      %li.list
        = link_to do
          = fa_icon 'pencil-square-o', class: 'icon'
      %li.list
        = link_to edit_user_path(current_user) do
          = fa_icon 'cog', class: 'icon'
  .groups
    .group
      .group__name
        セレッソ
      .group__message
        ゴールを今度も決めます。
    .group
      .group__name
        リバプール
      .group__message
        必ず優勝します！
    .group
      .group__name
        日本代表
      .group__message
        南米選手権頑張れ！
